# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/smart_irrigation?schema=public"

# MQTT Broker
MQTT_BROKER_URL="mqtt://localhost:1883"
MQTT_USERNAME="dev_user"
MQTT_PASSWORD="dev_password"

# Backend API
PORT=3001
JWT_SECRET="super-secret-jwt-key"

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:3001/api/v1"
